apiVersion: v1
data:
  mariadb-password: SecurePassw0rdHere=
  mariadb-root-password: SecurePassw0rdHere=
kind: Secret
metadata:
  annotations:
    meta.helm.sh/release-name: smm-openart
    meta.helm.sh/release-namespace: opencart
    app.kubernetes.io/instance: smm-openart
    app.kubernetes.io/name: mariadb
    helm.sh/chart: mariadb-11.0.0
  name: smm-openart-mariadb
  namespace: opencart

type: Opaque
