apiVersion: v1
data:
  opencart-password: YourSecurePassw0rdHere=
kind: Secret
metadata:
  
  labels:
    app.kubernetes.io/instance: smm-openart
    app.kubernetes.io/name: opencart

  name: smm-openart-opencart
  namespace: opencart

type: Opaque
